<!DOCTYPE html>
<html>
  <head>
    <title>ノートシステム</title>
    <%#= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=0.4, user-scalable=no" />
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>
    <div class="seting">
      <% if notice.present? %>
       <span class="notice" style="color:blue"><%= notice %></span>
      <% end %>
      <% if alert.present? %>
        <span class="alert" style="color:red"><%= alert %></span>
      <% end %>
      <% if current_user.present? %>
        <p><%= current_user.name %>さんでログイン中 
        <%= link_to "ログアウト", logout_logout_path, method: :get %></p>
      <% else %>
        <p>ログインして下さい</p>
      <% end %>
    </div>
    <%= yield %>
  </body>
</html>
<style>
.seting{
  background-color: #f7f7f7;
  padding-top:10px;
  height:40px; text-align:center;
}
</style>