<!DOCTYPE html>
<html>
  <head>
    <title>ノートシステム</title>
    <%#= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=0.4, user-scalable=no" />
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>
    <div style="width:40%; margin:auto;">
      <span class="notice" style="color:blue"><%= notice %></span>
      <span class="alert" style="color:red"><%= alert %></span>
      <% if current_user.present? %>
        <p><%= current_user.name %>さん！ 
        <%= link_to "サインアウト", logout_logout_path, method: :get %></p>
      <% else %>
        <p>ログインして下さい</p>
      <% end %>
    </div>
    <%= yield %>
  </body>
</html>
