<!DOCTYPE html>
<html>
  <head>
    <title>ノートシステム</title>
    <%#= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=0.4, user-scalable=no" />

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    <% if current_user.present? %>
      <p><%= current_user.name %>さん！</p>
    <% else %>
      <p>ゲストさん！</p>
    <% end %>
    <%= yield %>
  </body>
</html>
