<!DOCTYPE html>
<html>
  <head>
    <title>メモシステム</title>
    <%#= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= favicon_link_tag('memo.ico') %>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=0.4, user-scalable=no" />
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>
    <div class="seting">
      <% if current_user.present? %>
        <p><%= current_user.name %>さんでログイン中 
        <%= link_to "ログアウト", logout_logout_path, method: :get %>
        <%= link_to "編集", edit_user_registration_path, method: :get %>
        <% if current_user.id == 1 %>
          <%= link_to "一覧", users_path, method: :get %>
        <% end %>
        </p>
      <% else %>
        <p>ログインして下さい</p>
      <% end %>
    </div>
    <%= yield %>
  </body>
</html>
<style>
.seting{
  background-color: #f7f7f7;
  padding-top:10px;
  height:40px; text-align:center;
}
</style>